body{ 
    margin: 0;
}
.menu {
    background-image: url(../assets/edits/Futsal.png);
    background-size: cover;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}
.menu li a :hover{
display: flex;
border: 2px solid cadetblue;
}



ul {
    display: flex;
    justify-content: start;
    
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: center;
}

a{
    padding: 0 15px;
    color: aliceblue;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
}
.menu-nav{
    width: 100%;
    height: 100%;

}
li{
    display: flex;
    align-items: center;
    height: 100%;
}

.contenedor-galeria{
    display: flex;
}

#contenedor-img{
    width: 50%;
    height: 400px;
    object-fit: contain;
}

.img-futsal{
    width: 100%;
}