.socio {
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divSocio{
    display: flex;
    justify-content: center;
    align-items: center;
}
